{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
#Title {
    font-style: italic; 
    font-family: Arial; 
    margin: 25px 100px 0px 100px; 
    text-align: center; 
    text-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
}

.mb-3 {
    align: center;
}

form{
    margin: 25px 100px 75px 100px; 
    display: flex; 
    align: center;
    
}
.col-md-3{
    display:inline-block; 
    align: center; 
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;;
    
}

.col-md-6{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
}

input[type=text], input[type=text]:focus{
    background-color: #595959;
    color: white;
    box-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
    border-color: black;
}
.textarea, .textarea:focus{
    background-color: #595959;
    color:white;
    box-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
    border-color: black;
}


</style>
<body style = 'background-color: #595959;'>
<h1 id = "Title" style = 'color: white'>NOTE FORM</h1>


<form action="" method="post" class="form-inline justify-content-center">
{% csrf_token %}

<div class="form-control" style = 'background-color: #595959; box-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0; border-color:black'>

    <div class="col-md-3 offset-md-3 text-center">
        {{ form.to|as_crispy_field }}
    </div>
    
    <div class="col-md-3 text-center">
        {{form.From|as_crispy_field }}   
    </div>

    <div class="col-md-6 offset-md-3 text-center">
        {{ form.title|as_crispy_field }}
    </div>

    <div class="col-md-6 offset-md-3 text-center">
        {{ form.message|as_crispy_field }}
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-success btn-lg" style = "background-color: #0dcaf0; box-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0; border-color: black">Submit</button>
    </div>
</div>
</form>
</body>
</html>

