<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<style>
#Title {
  color:white; 
  font-style: italic; 
  margin: 25px 50px 0px 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
}
.card{
  box-shadow: 1px 1px 2px black, 0 0 10px #0dcaf0, 0 0 5px #0dcaf0;
  display: block;
}

.card-header{
  text-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
}

.btn{
  box-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
}

</style>
<body style= "background-color: #595959;">

    <h1 id = "Title" class="display-4">NOTE LIST</h1>
    {%for notes in notes%}
    <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 20px 0px 20px 20px; display:inline-block;  ">
      <div class="card-header">{{notes.title}}</div>
      <div class="card-body">
        <h6 class="notes-from" style= "font-style: italic; ">to: {{notes.to}} <br> from: {{notes.From}}</h6>
        <p class="card-text" style="font-size: 1.2rem">{{notes.message}}</p>
      </div>
    </div>
    {%endfor%}
          <div class="text-center">
          <a href="add-note" class="btn btn-dark btn-lg" style= 'justify-content: center; margin: 30px 0px 30px 0px;'>Add new note</a>
          </div>  
    


</body>
</html>