<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    
    <style>
    .note-table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        border-spacing: 0 15px;
        overflow: hidden;
        box-shadow: 1px 1px 2px black, 0 0 15px #0dcaf0, 0 0 5px #0dcaf0;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .note-table thead tr{
        background-color: #1a1a1a;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 2px black, 0 0 25px #0dcaf0, 0 0 5px #0dcaf0;
    }
    .note-table th,
    .note-table td{
        padding: 12px 15px;
        color: #ffffff;
        
    }
    
    .note-table td{
      border: 1px solid black;
      background-color: #212529;
      }

    </style>
  </head>
  <body style='background-color: #595959'>
    <table class="note-table">
    <thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      </thead>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <tbody>
      {%for notes in notes%}
      
      <tr>
        <td>{{notes.to}}</td>
        <td>{{notes.From}}</td>
        <td>{{notes.title}}</td>
        <td>{{notes.message}}</td>
      </tr>
      
      {%endfor%}
      </tbody>
      <!-- END SECTION -->
    </table>
  </body>
</html>
