<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>
<body>
    <h1 style="font-family:Candara">{{title}}</h1>
    <p style="font-family:Monospace">{{message}}</p>
</body>
</html>