<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>table {
  border-spacing: 0 15px;
}

th {
  background-color: blue;
  color: white;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
}</style>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {%for notes in notes%}
      <tr>
        <td>{{notes.to}}</td>
        <td>{{notes.From}}</td>
        <td>{{notes.title}}</td>
        <td>{{notes.message}}</td>
      </tr>
      {%endfor%}
      <!-- END SECTION -->
    </table>
  </body>
</html>
